/* src/App.css */
.App {
  overflow: hidden;
  padding: 40px;
  justify-items: center;
  align-items: center;
}

.content-container {
  position: relative;
  z-index: 1;
}

.birthday-message {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Add any other styling you need for your content */
